<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/favi.ico">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/f1beb62344.js" crossorigin="anonymous"></script>
    <title>Contacto</title>
</head>
<body >
    <header id="bg-s">
        <div>
            <a href="../index.html">  
                <img src="../img/logo1.png " class="logo">
            </a> 
           
        </div>
        <div class="respmenu">
            <input type="checkbox">
            <i class="fas fa-bars"></i>
            <i class="fas fa-times"></i>
            <nav>
                <a href="../index.html" class="nav-link">Home</a>
                <a href="servicios.html" class="nav-link">Servicios</a>
                <a href="turnos.html" class="nav-link"> Turnos</a>
                <a href="productos.html" class="nav-link"> Productos</a>
                <a href="contacto.html" class="nav-link">Contacto</a>
                <a href="adopciones.html" class="nav-link"> Adopciones</a>
                
            </nav>
        </div>

       
    </header>
    <main class="mainServicios">
        <section id="servicios">
            <h1 class="tit">SERVICIOS</h1>
            <div class="container">
            <div class="carta">
            <h2>Consultas</h2>
            <p>En las consultas, donde atendemos sin turno previo, usted encontrará la información y los tratamientos que requiera para el cuidado y salud de su mascota.</p>
            </div>
            <div class="carta">
            <h2>Vacunación</h2>
            <p>La prevención es otra de nuestras prioridades, por eso prestamos el servicio de vacunacion contando con todas las vacunas que necesitan tus mascotas.
            </p>
            </div>
            <div class="carta">
            <h2>Farmacia</h2>
            <p>Encontra los medicamentos que necesitas. Contamos con una amplia variedad de medicamentos ambulatorios. Variedad de marcas y productos tanto para la salud como para el cuidado de tu mascota.</p>
            </div>
            <div class="carta">
            <h2>Laboratorio</h2>
            <p>Para obtener diagnósticos oportunos contamos con el servicio de laboratorio. Los exámenes necesarios que requiere tu mascota para determinar, prevenir o controlar alguna emergencia.</p>
            </div>
            <div class="carta">
            <h2>Cirugías e Internación</h2>
            <p>Nuestros doctores se encuentran calificados para realizar cualquier tipo de intervención que necesite tu mascota. Ya sea programada o de urgencia.
            Para garantizar su recuperación, nuestras instalaciones cuentan con el servicio de internacion las 24 hs.</p>
            </div>
            <div class="carta">
            <h2>PetShop</h2>
            <p>¿Por qué no terminar una consulta con un premio para ellos? Juguetes y accesorios para tu mascota. Consentirlos, amarlos y protegerlos</p>
            </div>
            </div>
            </div>
        </section>

    </main>
    


<footer class="pie-pag">
    <div class="grupo1">
    <div class="box">
        <figure class="logoFooter">
            <a href="#">
                <img src="../img/ilustracion-vet.png" alt="logo vet">
            </a>
        </figure>
    </div>
    <div class="box">
        <h2>SOBRE NOSOTROS</h2>
        <p>Somos felices haciendo feliz a tu mascota.</p>
    </div>
    <div class="box">
        <h2>SEGUINOS EN NUESTRAS REDES</h2>
        <div class="red-social">
            <a href="#"class="fa-brands fa-facebook"></a>
            <a href="#"class="fa-brands fa-instagram"></a>
            <a href="#"class="fa-brands fa-whatsapp"></a>
        </div>
    </div>
</div> 
<div class="grupo2">
    <small>&copy; 2022 <b>Veterinaria Peluditos</b>  - Todos los derechos reservados</small>
</div>  
   
</footer>
</body>
</html>