<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Servicios</title>
</head>
<body>
    <header id="bg-s">
        <nav>
        <div>
            <a href="../index.html">  
                <img src="../img/logo1.png " class="logo">
            </a> 
            
        </div>
     
            <a href="../index.html" class="nav-link">Home</a>
            <a href="servicios.html" class="nav-link">Servicios</a>
            <a href="turnos.html" class="nav-link"> Turnos</a>
            <a href="productos.html" class="nav-link"> Productos</a>
            <a href="contacto.html" class="nav-link">Contacto</a>
            <a href="adopciones.html" class="nav-link"> Adopciones</a>
            
        </nav>
    </header>
    
   
    <h1 class="tit">SERVICIOS</h1>

    <div class="ServiciosVet">
        <div class="Servicio">VACUNATORIO
            <br><br>
            <p>Quiero poner una foto y una descripcion del servicio</p>
        </div>

        <div class="Servicio">RADIOLOGIA
            <br><br>
            <p>Quiero poner una foto y una descripcion del servicio</p>
        </div>
        <div class="Servicio">PELUQUERIA
            <br><br>
            <p>Quiero poner una foto y una descripcion del servicio</p>
        </div>
        <div class="Servicio">ADOPCIONES
            <br><br>
            <p>Quiero poner una foto y una descripcion del servicio</p>
        </div>
    </div>

</body>
</html>