<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--script para usar icono de fontawesome-->
    <script src="https://kit.fontawesome.com/f1beb62344.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../img/favi.ico">
    <link rel="stylesheet" href="../css/style.css">
     <title>Turnos</title>
</head>
<body>
    <header id="bg-t">
        <nav>
        <div>
            <a href="../index.html">  
                <img src="../img/logo1.png " class="logo">
            </a> 
            
        </div>
     
            <a href="../index.html" class="nav-link">Home</a>
            <a href="servicios.html" class="nav-link">Servicios</a>
            <a href="turnos.html" class="nav-link"> Turnos</a>
            <a href="productos.html" class="nav-link"> Productos</a>
            <a href="contacto.html" class="nav-link">Contacto</a>
            <a href="adopciones.html" class="nav-link"> Adopciones</a>
            
        </nav>
    </header>
    
    <!--css en linea-->
    <h1 class="tit">TURNOS</h1>
    <form >
        <div class="solicitudTurno">
            <p> 
                <b>Solicitud de turnos -  Información útil</b>
                <br><br>
                
                Todos los días a las 0.00 hs se habilitan nuevos turnos para las 48 hs siguientes.
                <ul>
                <li>Vacunación: Se otorgan 20 turnos por día</li>
                <li>Peluquería: Se otorgan 10 turnos por día</li>
                </ul>
               Ante cualquier duda contáctese con peluditos-22518@gmail.com  <i class="fa-regular fa-envelope"></i> 
                <br><br>
            
            </p>
        </div>
    
    

    <div class="cuadro"> 
        <fieldset>
        
        <legend class="encabezado-formulario"> <i class="fa-solid fa-pen-to-square"></i> <b>Confirmanos tus datos</b></legend>
        <br>
        <label for="rb">¿Ya te atendiste antes?</label>
        <input type="radio" name="rb" value="1"> SI
        <input type="radio" name="rb" value="2"> NO
        <br><br>
        <label for="rb">Tu peludito es...</label>
        <input type="radio" name="rb" value="1"> Gat@ <i class="fa-solid fa-cat"></i>
        <input type="radio" name="rb" value="2"> Perr@ <i class="fa-solid fa-dog"></i>
        <br><br>
        <label for="rb">¿Qué turno necesitas?</label>
        <input type="radio" name="rb" value="1"> Radiografias
        <input type="radio" name="rb" value="2"> Vacunas
        <input type="radio" name="rb" value="3"> Peluquería
        <input type="radio" name="rb" value="1"> Otro
        <input type="email">
        <br><br>
        <label for="Nombre de tu peludito">Nombre de tu peludito: </label>
        <input type="text" required size="10" maxlenght="5">
        
        <br><br>
        <label for="Nombre y Apellido">Nombre y Apellido: </label>
        <input type="text" id="nombre" name="nombre" placeholder="Escriba su nombre...">
        <br><br>
        <label for="DNI">DNI: </label>
        <input type="Number" placeholder="Sin puntos...">
        <br><br>
        <label for="Mail">Correo electronico</label>
        <input type="email">
        <br><br>
        <input type="submit" value="Enviar Datos">
        <input type="submit" value="Borrar datos">
        <br><br>
        <p><b>Te enviaremos un correo confirmandote día y horario del turno</b></p>
  
        </fieldset>
    </div>
    <h3 class="subTit">Recorda que la atención en consultorio se realiza de lunes a viernes de 8.00 a 20.00 hs sin turno previo</h3>
</form>
<footer class="pie-pag">
    <div class="grupo1">
    <div class="box">
        <figure class="logoFooter">
            <a href="#">
                <img src="../img/ilustracion-vet.png" alt="logo vet">
            </a>
        </figure>
    </div>
    <div class="box">
        <h2>SOBRE NOSOTROS</h2>
        <p>Somos felices haciendo feliz a tu mascota.</p>
    </div>
    <div class="box">
        <h2>SEGUINOS EN NUESTRAS REDES</h2>
        <div class="red-social">
            <a href="#"class="fa-brands fa-facebook"></a>
            <a href="#"class="fa-brands fa-instagram"></a>
            <a href="#"class="fa-brands fa-whatsapp"></a>
        </div>
    </div>
</div> 
<div class="grupo2">
    <small>&copy; 2022 <b>Veterinaria Peluditos</b>  - Todos los derechos reservados</small>
</div>  
   
</footer>  

</body>
</html>